.navbar{
    display: flex;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    color: #000000;
}
nav ul li:hover{
    font-weight: 700;
    cursor: pointer;
    transition: 500ms ease all;
}